html {
    background-color: hsl(215, 25%, 25%);
    font-size: 16px;
    font-family: "Times New Roman", serif;
    margin: 0 auto;
}

/* Navigation Bar */
nav {
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 50px;
}

body {
    color: white;
    font-size: 1.25rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    }

.myname {
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

#selfie {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* Footer Section */
footer {
  font-size: 0.75rem;
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 50px;
}

/* Link Rules */
a:link {
    color: white;
    text-decoration: none;
  }
  a:visited {
    color: hsl(43, 74%, 48%);
    text-decoration: none;
  }
  a:hover {
    color: gold;
    text-decoration: none;
  }
  a:active {
    color: white;
    text-decoration: none;
  }