html {
    background-color: hsla(209, 13%, 35%, 100%);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
}

/* Navigation Bar */
nav {
  font-size: 1.25rem;
  font-weight: bold;
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 15px;
  border: 5px solid hsl(32, 9%, 72%);
  background: hsla(32, 9%, 72%, 100%);
  border-radius: 25px;
  position: fixed;
  top: 0;
}

body {
    color: white;
    font-size: 1.25rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    }

.MyName {
  font-size: 2.5rem;
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 60px;
  margin-top: 25px;
}

#selfie {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 25;
  width: 50%;
  margin-top: 25px;
  border-radius: 25px;
}

.AboutSetup,
.CodingJournal {
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 25;
}

.Resume,
.Projects,
.Interests,
.Contact {
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 25;
  margin-top: 50px;
}

h1 {
  text-align: center;
}

li {
  margin-bottom: 15px;
}

/* Footer Section */
footer {
  font-size: 1.25rem;
  font-weight: bold;
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 15px;
  border: 5px solid hsl(32, 9%, 72%);
  background: hsla(32, 9%, 72%, 100%);
  border-radius: 25px;
}

/* Link Rules */
a:link {
    color: 	hsla(209, 18%, 54%, 100%);
    text-decoration: none;
  }
  a:visited {
    color: 	hsla(209, 18%, 54%, 100%);
    text-decoration: none;
  }
  a:hover {
    color: hsla(203, 28%, 77%, 100%);
    text-decoration: none;
  }
  a:active {
    color: white;
    text-decoration: none;
  }